<!DOCTYPE html>
<!--[if IE 8]>
<html lang="fr" class="ie8">
<![endif]-->
<!--[if IE 9]>
<html lang="fr" class="ie9">
<![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->

    <head>
        <title>Administration</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="favicon.ico">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

        <!-- Global CSS -->
        <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">

        <!-- Plugins CSS -->
        <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/plugins/love-icons/style.css">
        <link rel="stylesheet" href="/plugins/animate-css/animate.min.css">
        <link rel="stylesheet" href="/plugins/Gallery/css/blueimp-gallery.min.css">
        <link rel="stylesheet" href="/plugins/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

    <%- body %>

    </body>
</html>
