<div id="direction-modal" class="direction-modal modal" tabindex="-1" role="dialog" aria-labelledby="directionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="directionModalLabel">Comment s'y rendre ?</h4>
            </div><!--//modal-header-->
            <div class="modal-body">
                <div class="row">
                    <div class="event-col col-md-6 col-sm-6 col-xs-12">
                        <h4 class="col-title text-center">Mairie</h4>
                        <div class="col-subtitle script text-center">Hôtel de ville de Strasbourg</div>
                        <div class="figure-container">
                            <img class="img-responsive center-block" src="/images/mairie.jpg" alt="" />
                        </div>
                        <p>L'adresse complète est : <b>Salle des mariages, Hôtel de ville de Strasbourg, place Broglie, 67000 Strasbourg.</b><br> L’entrée principale se situe place Broglie. Un accès aux personnes à mobilité réduite est prévu par la rue Brûlée.</p>
                        <!--<h5 class="section-title"><i class="fa fa-car"></i> By Car</h5>-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>-->
                        <h5 class="section-title"><i class="fa fa-train"></i> Par transport</h5>
                        <p>Prendre le tram A direction Illkirch ou D direction Aristide Briand. Changer à Place de l’Homme de Fer pour la ligne B direction Hoenheim gare, C direction Neuhof, ou F direction place d’Islande. Descendre à l’arrêt Place Broglie.</p>
                        <!--<h5 class="section-title"><i class="fa fa-bus"></i> By Bus</h5>-->
                        <!--<p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante.</p>-->
                        <h5 class="section-title"><i class="fa fa-car"></i> Où se garer ?</h5>
                        <p>
                            <span class="details">Parking Broglie ou parking Opéra</span>
                        </p>
                    </div><!--//event-col-->
                    <div class="event-col col-md-6 col-sm-6 col-xs-12">
                        <h4 class="col-title text-center">Réception et brunch</h4>
                        <div class="col-subtitle script text-center">Restaurant M 0 Niderviller</div><br>
                        <div class="figure-container">
                            <img class="img-responsive center-block" src="/images/restaurant-m-niderviller.jpg" alt="" />
                        </div>
                        <p>L'adresse complète est : <b>Restaurant M, 9 place Charles de Gaulle, 57565 Niderviller.</b><br></p>
                        <h5 class="section-title"><i class="fa fa-car"></i> En voiture</h5>
                        <p>De Strasbourg et Metz : par l’autoroute A4, prendre la sortie Phalsbourg puis continuer sur la voie rapide N4, sortir à Buhl lorraine/Niderviller.</p>
                        <p>De Nancy : par l’autoroute, prendre A33 direction Strasbourg. Continuer sur la N333. Suivre Sarrebourg et sortir à Buhl lorraine/Niderviller.</p>
                        <h5 class="section-title"><i class="fa fa-train"></i> En train</h5>
                        <p>TGV/train arrêt Sarrebourg puis trouver une bonne âme pour venir vous chercher.</p>
                        <h5 class="section-title"><i class="fa fa-bus"></i> En vélo</h5>
                        <p>Bon courage, il y a un peu de chemin. Prévoyez une gourde et une chemise/robe de rechange.</p>
                    </div><!--//event-col-->
                </div><!--//row-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div>
</div><!--//modal-->