<div id="facilities-modal" class="facilities-modal modal" tabindex="-1" role="dialog" aria-labelledby="facilitiesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="facilitiesModalLabel">Facilities</h4>
            </div><!--//modal-header-->
            <div class="modal-body">
                <div class="row">
                    <div class="event-col col-md-6 col-sm-6 col-xs-12">
                        <h4 class="col-title text-center">Mairie</h4>
                        <div class="col-subtitle script text-center">Salle des mariages, Hôtel de ville de Strasbourg</div>
                        <ul class="list-unstyled facilities-list">
                            <!--<li><i class="fa fa-check"></i> Internet Access / WiFi</li>-->
                            <!--<li><i class="fa fa-check"></i> Disabled Access</li>-->
                            <!--<li><i class="fa fa-check"></i> Bathroom and baby changing-->
                                <!--<br>-->
                                <!--<span class="details">There is a disabled bathroom with nappy changing facilities.</span>-->
                            <!--</li>-->
                            <li><i class="fa fa-check"></i> Où se garer
                                <br>
                                <span class="details">Parking Broglie ou parking Opéra</span>
                            </li>

                        </ul>
                    </div><!--//event-col-->
                    <div class="event-col col-md-6 col-sm-6 col-xs-12">
                        <h4 class="col-title text-center">Reception</h4>
                        <div class="col-subtitle script text-center">The Manor House</div>
                        <ul class="list-unstyled facilities-list">
                            <li><i class="fa fa-check"></i> Wine Bar</li>
                            <li><i class="fa fa-check"></i> Internet Access / WiFi
                                <br>
                                <span class="details">Aenean commodo ligula eget dolor.</span>
                            </li>
                            <li><i class="fa fa-check"></i> Disabled Access</li>
                            <li><i class="fa fa-check"></i> Bathroom and baby changing</li>
                            <li><i class="fa fa-check"></i> Car Parking
                                <br>
                                <span class="details">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes</span>
                            </li>
                        </ul>
                    </div><!--//event-col-->
                </div><!--//row-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div>
</div><!--//modal-->