<div id="hero" class="hero-section">
    <div class="container text-center">
        <div class="row">
            <div class="hero-box col-md-5 col-sm-7 col-xs-12">
                <h1 class="headline script">
                    <span class="names display-block">Céline et Julien</span>
                        <span class="statement display-block">
                            <span class="swirl-left"></span><span class="statement-text">se marient</span><span class="swirl-right"></span>
                        </span><!--//statement-->
                </h1><!--/headline-->
                <div class="date">
                    <span class="date-text">17 Septembre 2016</span>
                </div><!--//date-->
                <a class="btn btn-primary btn-rsvp" href="#" data-toggle="modal" data-target="#rsvp-modal">confirmez votre venue</a>
            </div><!--//hero-box-->
        </div>
    </div><!--//container-->
    <div class="curve-holder"></div>
</div><!--//hero-section-->

<!-- ******Wedding Section****** -->
<section id="wedding" class="wedding-section section">
    <div class="container text-center">
        <h3 class="title script">
            <span class="title-deco-left"></span><span class="title-text">Notre mariage</span><span class="title-deco-right"></span>
        </h3>
        <div id="countdown-box" class="countdown-box"></div>

        <div class="row cols-wrapper">
            <div class="ceremony-col col-md-6 col-sm-6 col-xs-12" >
                <div class="col-inner">
                    <h4 class="subtitle">Mairie</h4>
                    <p class="intro">La cérémonie aura lieu dans la salle des mariages de l’hôtel de ville de Strasbourg, place Broglie.</p>
                    <ul class="meta-list list-unstyled text-left center-block">
                        <li><span class="icon-calendar love-icon"></span>Samedi 17 Sept. 2016</li>
                        <li><span class="icon-clock love-icon"></span>14 heures</li>
                        <li><div class="flex-container flex-inline">
                                <div class="flex-item"><span class="address icon-map love-icon"></span></div>
                                <div class="flex-item">
                                    Salle des mariages, hôtel de ville place Broglie
                                </div>
                            </div>
                            <br>
                            <span class="direction-info display-block list-link"><a href="#" data-toggle="modal" data-target="#direction-modal">Comment s'y rendre ?</a></span>
                            <span class="direction-info display-block list-link"><a class="scrollto" href="#map" data-target-map-marker="strasbourg">Montre moi sur la carte</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="reception-col col-md-6 col-sm-6 col-xs-12" style="min-height: 450px;">
                <div class="col-inner">
                    <h4 class="subtitle">Vin d'honneur</h4>
                    <p class="intro">Le vin d’honneur se tiendra sur la terrasse du restaurant M, dans les jardins de l’ancienne faïencerie de Niderviller.</p>
                    <ul class="meta-list list-unstyled text-left center-block">
                        <li><span class="icon-calendar love-icon"></span>Samedi 17 Sept. 2016</li>
                        <li><span class="icon-clock love-icon"></span>17 heures 30</li>
                        <li><span class="icon-map love-icon"></span>Restaurant M – Niderviller
                            <br>
                            <span class="direction-info display-block list-link"><a href="#" data-toggle="modal" data-target="#direction-modal">Comment s'y rendre ?</a></span>
                            <span class="direction-info display-block list-link"><a class="scrollto" href="#map" data-target-map-marker="niderviller">Montre moi sur la carte</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row cols-wrapper">
            <div class="ceremony-col col-md-6 col-sm-6 col-xs-12">
                <div class="col-inner">
                    <h4 class="subtitle">Réception</h4>
                    <p class="intro">Après le vin d’honneur, fort en émotions et en champagne, se tiendra un repas ainsi qu’une soirée. L’animation sera assurée par l’orchestre Jean-Raymond.</p>
                    <ul class="meta-list list-unstyled text-left center-block">
                        <li><span class="icon-calendar love-icon"></span>Samedi 17 Sept. 2016</li>
                        <li><span class="icon-clock love-icon"></span>20 heures</li>
                        <li><span class="icon-map love-icon"></span>Restaurant M - Niderviller
                            <br>
                            <span class="direction-info display-block list-link"><a href="#" data-toggle="modal" data-target="#direction-modal">Comment s'y rendre ?</a></span>
                            <span class="direction-info display-block list-link"><a class="scrollto" href="#map" data-target-map-marker="niderviller">Montre moi sur la carte</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="reception-col col-md-6 col-sm-6 col-xs-12">
                <div class="col-inner">
                    <h4 class="subtitle">Brunch</h4>
                    <p class="intro">Pour ceux qui le souhaitent, en ont la force et pas trop la gueule de bois, nous vous proposons de nous retrouver pour prolonger la magie (comme chez Disney) autour d’un brunch.</p>
                    <ul class="meta-list list-unstyled text-left center-block">
                        <li><span class="icon-calendar love-icon"></span>Dimanche 18 sept. 2016</li>
                        <li><span class="icon-clock love-icon"></span>11 heures</li>
                        <li>
                            <div class="flex-container flex-inline">
                                <div class="flex-item"><span class="address icon-map love-icon"></span></div>
                                <div class="flex-item">
                                    Restaurant M - Niderviller (parce qu’on fait dans l’originalité)
                                </div>
                            </div>
                            <br>
                            <span class="direction-info display-block list-link"><a href="#" data-toggle="modal" data-target="#direction-modal">Comment s'y rendre ?</a></span>
                            <span class="direction-info display-block list-link"><a class="scrollto" href="#map" data-target-map-marker="niderviller">Montre moi sur la carte</a></span>
                        </li>
                    </ul><!--//meta-list-->
                </div><!--//col-inner-->
            </div><!--//ceremony-col-->
        </div>

        <div class="action-wrapper">
            <a class="btn btn-primary bg-secondary" href="#" data-toggle="modal" data-target="#rsvp-modal">Confirmez votre venue</a>
        </div><!--//action-wrapper-->

    </div><!--//container-->
    <div id="map" class="map-container">
    </div><!--//map-container-->
</section><!--//wedding-section-->

<!-- ******Story Section****** -->
<section id="story" class="story-section section">
    <div class="container text-center">
        <div class="row">
            <div class="story-box col-md-7 col-sm-12 col-xs-12 col-md-push-5 col-sm-push-0 col-xs-push-0">
                <h3 class="title script title-reversed">
                    <span class="title-deco-left"></span><span class="title-text">Infos pratiques</span><span class="title-deco-right"></span>
                </h3>
                <div class="content-container text-left">
                    <div id="story-carousel" class="story-carousel carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#story-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#story-carousel" data-slide-to="1"></li>
                            <li data-target="#story-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <h4 class="item-title text-center"><span class="icon-moon love-icon"></span>Bonne nuit les petits</h4>
                                <p>
                                    Pour ceux qui habitent loin, vous pouvez rentrer chez vous à 4h du matin, planter une tente dans le champ du voisin ou dormir dans votre voiture. Sinon, vous pouvez aussi réserver un hôtel à proximité. Quelques suggestions :
                                </p>
                                <p>
                                    <b><a href="www.augrenierdabondance.wifeo.com">Chambre d’hôte Au Grenier d’Abondance</a></b> (300m du restaurant)
                                    <br>11 rue des Vosges
                                    <br>57565 Niderviller
                                </p>
                                <p>
                                    <b><a href="www.ibis.com">Ibis Budget</a></b> (3,5km de Niderviller)
                                    <br>Zone Ariane Plus
                                    <br>57400 Buhl lorraine
                                    <br>
                                </p>
                                <p>
                                    Suite page suivante
                                </p>
                                </div><!--//item-->
                            <div class="item">
                                <h4 class="item-title text-center"><span class="icon-moon love-icon"></span>Bonne nuit les petits</h4>
                                <p>
                                    <b><a href="www.ibis.com">Ibis Styles</a></b> (8km de Niderviller)
                                    <br>Zone de loisirs, chemin d’Imling
                                    <br>57400 Sarrebourg
                                </p>
                                <p>
                                    <b><a href="http://www.centerparcs.fr/fr-fr/france/fp_TF_vacances-domaine-les-trois-forets?pl=nav">Centerparcs Les Trois Forêts</a></b> (21km de Niderviller)
                                    <br>Rue de Bertrambois
                                    <br>57790 Hattigny
                                </p>
                                <p>Et comme on a tout prévu, une navette sera à votre disposition pour vous raccompagner à votre hôtel (secteur Niderviller, Sarrebourg, Hattigny) après la soirée. Alors à vos coupes de champagne !”</p>
                            </div><!--//item-->
                            <div class="item">
                                <h4 class="item-title text-center"><span class="icon-cake-cover love-icon"></span>Dress code</h4>
                                <p>Bleu clair, bleu marine, bleu klein, bleu turquoise, bleu électrique, bleu nuit, bleu roi, bleu cyan, bleu pétrole... En petites touches ou pour un total look, laissez parler votre imagination, si vous le souhaitez, pour accorder votre tenue aux couleurs de la journée.</p>
                            </div><!--//item-->
                        </div><!--//carousel-inner-->

                    </div><!--//story-carousel-->
                </div>
            </div><!--//story-box-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//story-section-->

<!-- ******Gallery Section****** -->
<section id="gallery" class="gallery-section section">
    <div class="container text-center">
        <h3 class="title script"><span class="title-deco-left"></span><span class="title-text">Galerie</span><span class="title-deco-right"></span></h3>
        <!--Gallery caption-->
        <div class="gallery-container">

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane tab-pane-1 active" id="gallery-1">
                    <div id="photos-wrapper" class="photos-wrapper">
                        <div class="item"><a href="/images/gallery/pic-1.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-1.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-2.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-2.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-3.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-3.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-4.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-4.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-5.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-5.jpg" alt="" /></a></div>
                        <div class="item w2"><a href="/images/gallery/pic-6.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-6.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-7.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-7.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-8.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-8.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-9.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-9.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-10.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-10.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-11.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-11.jpg" alt="" /></a></div>
                        <div class="item w2"><a href="/images/gallery/pic-12.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-12.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-13.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-13.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-14.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-14.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-15.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-15.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-16.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-16.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-17.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-17.jpg" alt="" /></a></div>
                        <div class="item"><a href="/images/gallery/pic-18.jpg" data-gallery><img class="img-responsive" src="/images/gallery/pic-18.jpg" alt="" /></a></div>
                    </div><!--//photos-wrapper-->
                </div><!--tabe-pane-1-->
                <div role="tabpanel" class="tab-pane tab-pane-2" id="gallery-2">
                    <div id="instafeed" class="instafeed-wrapper"></div>
                    <button id="load-more" class="btn btn-primary btn-load-more">Load more...</button>
                </div><!--tabe-pane-2-->
            </div><!--//tab-content-->
        </div><!--//gallery-container-->
    </div><!--//container-->
</section><!--//gallery-section-->

<!-- ******Gift Section****** -->
<section id="gift" class="gift-section section">
    <div class="container text-center">
        <h3 class="title script">
            <span class="title-deco-left"></span>
            <span class="title-text">Cadeau de mariage</span>
            <span class="title-deco-right"></span>
        </h3>
        <div class="message-container">
            <div class="message-inner center-block">
                <div class="intro">
                    Parce qu’on aime voyager et qu’on ne tient pas en place, nous partirons explorer les étendues sauvages et villes animées des Etats-Unis pour notre voyage de noce. Une jolie boîte sera à votre disposition au restaurant si vous souhaitez participer à notre périple. 
                </div>
                <div class="thank-you script">Merci beaucoup</div>
                <div class="signature script">Céline & Julien</div>
                <div class="couple-profile"></div>
            </div><!--//message-inner-->
        </div><!--//message-container-->
    </div>
</section>

<!-- ******Commments Section****** -->
<section id="comments" class="comments-section section">
    <div class="container text-center">
        <div class="comments-container center-block">
            <h3 class="title">N'hésitez pas à nous laisser un message !</h3>
            <div class="fb-comments" data-href="http://cjwedding.fr" data-width="100%" data-numposts="4" data-colorscheme="light"></div>
        </div>
    </div>
</section>